# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# for Mac OS X
.DS_Store

# public
/public/uploads
/public/assets

# configs
/config/database.yml
/config/carrierwave.yml
/config/deploy.rb

# tests
/spec/support/uploads
